.nav-bg {
  /*  background-color: #2c2e30; */
  /*   background-color: rgb(70, 60, 175); */
  background-color: rgb(70, 60, 175);
  height: 4rem;
}
.nav-principal {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  color: white;
}

.img {
  width: 4rem;
  height: 4.5rem;
  display: flex;
  justify-content: flex-end;
}
.img:hover {
  transform: scale(1.1);
}

.search {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  padding-left: 70vw;
}
.img-titulo {
  display: flex;
}
.titulo {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 1250px) {
  .search {
    padding-left: 60vw;
  }
}
@media only screen and (max-width: 940px) {
  .search {
    padding-left: 50vw;
  }
}
@media only screen and (max-width: 760px) {
  .search {
    padding-left: 40vw;
  }
  .img-titulo {
    display: none;
  }
}

/* @media only screen and (max-width: 630px) {
  .nav-principal {
    flex-direction: column;
    align-items: center;
  }
  .search {
    padding-left: 8vw;
    padding-top: 0.5vw;
  }
} */
@media only screen and (max-width: 630px) {
  .search {
    padding-left: 30vw;
  }
}
@media only screen and (max-width: 517px) {
  .search {
    padding-left: 25vw;
  }
}
@media only screen and (max-width: 499px) {
  .img-titulo {
    display: none;
  }
}

label[for="toggle"] {
  position: fixed;
  top: 25px;
  left: 22px;
  color: white;
  z-index: 6;
  font-size: 1.5rem;
}

.navigation--responsive {
  display: none;
}
#toggle {
  display: none;
}

svg.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .main-navigation {
    display: none;
  }

  svg.hamburger {
    display: block;
  }

  .navigation--responsive {
    display: block;
    background: linear-gradient(to top, #be93c5, #7bc6cc);
    width: 200px;
    height: 100vh;
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    transition: top 1s;
  }

  .navigation--responsive ul {
    display: block;
    list-style: none;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 85px 0 0 0;
    padding: 0;
  }

  .navigation--responsive ul li {
    margin: 0;
    padding: 0;
  }

  .navigation--responsive li a {
    padding: 50px 20px 50px 30px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
  }

  #toggle:checked ~ .navigation--responsive {
    top: 0vh;
  }
}
