.App {
  text-align: center;
}
/* .card {
  display: flex;
  background: none;
  justify-content: space-around;

  /*   backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(49, 47, 47, 0.5); */
