body {
  margin: 0;
  font-family: "Krub", sans-serif;
  background: rgb(111, 111, 184);

  backdrop-filter: blur(2px);

  /*   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
